*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    padding: 25px 0;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: white;
    background-color: black;

}


.open-modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 10px;
background-color: black;
color: white;

}